/** Embedded SVGs for all makruk pieces */
.cg-wrap piece.pawn.white {
  background-image: url('pieces/cambodian/wP.svg');
}
.cg-wrap piece.bishop.white {
  background-image: url('pieces/cambodian/wB.svg');
}
.cg-wrap piece.knight.white {
  background-image: url('pieces/cambodian/wN.svg');
}
.cg-wrap piece.rook.white {
  background-image: url('pieces/cambodian/wR.svg');
}
.cg-wrap piece.queen.white {
  background-image: url('pieces/cambodian/wQ.svg');
}
.cg-wrap piece.promotedPawn.white {
  background-image: url('pieces/cambodian/wPP.svg');
}
.cg-wrap piece.king.white {
  background-image: url('pieces/cambodian/wK.svg');
}
.cg-wrap piece.pawn.black {
  background-image: url('pieces/cambodian/bP.svg');
}
.cg-wrap piece.bishop.black {
  background-image: url('pieces/cambodian/bB.svg');
}
.cg-wrap piece.knight.black {
  background-image: url('pieces/cambodian/bN.svg');
}
.cg-wrap piece.rook.black {
  background-image: url('pieces/cambodian/bR.svg');
}
.cg-wrap piece.queen.black {
  background-image: url('pieces/cambodian/bQ.svg');
}
.cg-wrap piece.promotedPawn.black {
  background-image: url('pieces/cambodian/bPP.svg');
}
.cg-wrap piece.king.black {
  background-image: url('pieces/cambodian/bK.svg');
}
